.git
.gitattributes
.gitignore
node_modules/
vendor/
.env
.env.backup
.env.production
.phpunit.result.cache
phpunit.xml
tests/
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
docker-compose.yml
docker-compose.override.yml
.idea/
.vscode/
npm-debug.log
yarn-debug.log
yarn-error.log
public/hot
